<h2>@Html.DisplayName(ClubRP.Views.Account.AccountRessources.ConfirmEmail)</h2>
<div>
    <p>
        @Html.DisplayName(ClubRP.Views.Account.AccountRessources.ConfirmEmailMessage) @Html.ActionLink(ClubRP.Views.Account.AccountRessources.LogInMessage, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>