<hgroup class="title">
    <h1>@Html.DisplayName(ClubRP.Views.Account.AccountRessources.ForgotPasswordTitle)</h1>
</hgroup>
<div>
    <p>
        @Html.DisplayName(ClubRP.Views.Account.AccountRessources.ForgotPasswordMessage)
    </p>
</div>