
<hgroup class="title">
    <h1>@Html.DisplayName(ClubRP.Views.Account.AccountRessources.ResetPasswordTitle)</h1>
</hgroup>
<div>
    <p>
        @Html.DisplayName(ClubRP.Views.Account.AccountRessources.ResetPasswordMessage) @Html.ActionLink(ClubRP.Views.Account.AccountRessources.LogInMessage, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>