*.sdf
/.vs/ClubRP/v14/*.suo
/Debug
/*.opensdf
/ClubRP/Debug
/ClubRP/obj/Debug
/ClubRP/obj
/ClubRP/bin/ClubRP.pdb
/ClubRP/bin/ClubRP.dll
bin
packages
/ClubRP/ClubRP.csproj
/ClubRP/App_Data
/ClubRP/App_Data/ApplicationDbContext.mdf
/ClubRP/App_Data/ApplicationDbContext_log.ldf
/ClubRP/Model1.edmx.sql
/ClubRP/Model1.tt
/ClubRP/Model11.cs
/ClubRP/Model11.Designer.cs
/ClubRP/Model1.Context.cs
/ClubRP/Model1.Context.tt
/ClubRP/Model1.Context1.cs
/ClubRP/Model1.cs
