<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.About)</h2>

<p style="text-align:justify">
    @Html.Raw(ClubRP.Views.Shared.ContentRessources.AboutFounderTitle)
    @*Nommé par la forme de l'iconique dé à 20 faces des jeux de rôles, l'Icosaèdre a été fondé en 2007 par les cofondateurs Nathan Bélanger, Patrick Delorme et Cédric Castelneau, trois amis de longue date passionnés de jeux de rôles cherchant à régler un problème désolant dans la communauté des rôlistes, le manque d'un réseau permettant à des joueurs de se trouver des compagnons de jeu. Ils décidèrent donc de créer un endroit agréable pour les rôlistes de tous niveaux, d'initiation aux débutants, mais surtout un endroit de rencontre pour tisser des liens avec de nouveaux joueurs.*@
</p>
<p>
    @Html.Raw(ClubRP.Views.Shared.ContentRessources.AboutIntro)
</p>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p style="color:#666666">
            <i>
                @Html.Raw(ClubRP.Views.Shared.ContentRessources.AboutFounderMessage)
            </i>
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<p style="text-align:right; font-size:larger; font-weight:bolder"> N.P.C</p>