@{

}
<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.MeetUs)</h2>

<style>
    #map {
        width: 800px;
        height: 500px;
    }
</style>

<script language="JavaScript" src="https://maps.googleapis.com/maps/api/js"></script>
<script language="JavaScript" src="~/Scripts/GoogleMaps.js"></script>
<div id="map"></div>

<address style="font-weight:bold">
    <br>
    4428 rue Wellington<br />
    Montréal, QC Y7D 9M8<br />
    <abbr title="téléphone">T:</abbr>
    514-555-6767
</address>

<p>

    Vous pouvez nous contacter par téléphone du lundi au vendredi de 9:00 à 21:00 et la fin de semaine  de 12:00 a 23:00<br />
    ou par courriel en tout temps <i>(délai de 24 heures maximum possible) </i>, ainsi que par la poste à l'adresse ci-dessus.
</p>

<address>
    <strong>Assistance:</strong>   <a href="icosaedre@roleplay.com">icosaedre@roleplay.com</a><br />
</address>