@model IEnumerable<ClubRP.Models.Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.Forum)</h2>

<ol>
    @Html.Raw(ClubRP.Views.Shared.ContentRessources.ForumWelcome)
</ol>