@model IEnumerable<ClubRP.Models.Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.Forum)</h2>

<ol>
    Bienvenue sur notre forum!
</ol>