@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.Equipment)</h2>
<p>
    @Html.Raw(ClubRP.Views.Shared.ContentRessources.EquipText)
</p>
<p>
   @Html.Raw(ClubRP.Views.Shared.ContentRessources.EquipRequirement)
</p>
<p>
    @Html.Raw(ClubRP.Views.Shared.ContentRessources.EquipProjector)
</p>