@model IPagedList<ClubRP.Models.Post>

@{
    var ajaxParam = new AjaxOptions()
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Liste"
    };
}
<h2>L'icosaèdre</h2>

@if (User.IsInRole("Modérateurs") || User.IsInRole("Administrateurs"))
{
    <p>@Html.ActionLink(ClubRP.Views.Posts.PostRessources.CreatePost, "Create")</p>
}

<div id="Recherche">

    @using (Ajax.BeginForm("Index", "Posts", null, ajaxParam, new { @class = "form-inline" }))
    {
        @Html.TextBox("SearchTerm", null, new { @class = "form-control", @style = "width:150px" })
        @Html.DropDownList("SearchField", (SelectList)ViewBag.Champs, new { @class = "form-control", @style = "width:150px" })
        <input type="submit" value=@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.BtnSearch)>
    }
</div>

@Html.Partial("_PartialPost", Model)